body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hoverEffect {
  transition: 0.3s;
  text-decoration-color: #ff6464;
}

.hoverEffect:hover {
  transition: 0.3s;
  color: white;
  transform: scale(1.3);
}

.dropSub:hover {
  background-color: #ff6464;
  color: white;
}

.menu {
  font-weight: bold;
  color: white;
  position: relative;
  display: inline-block;
}

.dropdown-menu-center {
  transform: translate(-20%, 0);
  text-align: center;
  transition: 0.3s;
}

.content {
  font-style: italic;
  font-weight: 350;
  font-size: 150%;
  margin-top: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
  font-weight: bold;
  font-size: 350%;
  text-align: center;
  font-style: italic;
  font-family: cursive;
}

.navMargin {
  margin-top: 100px;
}

.homeImg {
  margin-top: 50px;
}

.addScroll {
  overflow-y: auto;
  height: 200px;
}

.loginbox {
  background-color: rgb(254, 252, 252);
  border-radius: 30px;
  box-shadow: 12px 12px 22px;
  background-image: url('../public/images/test1.jpg');
  /* background: image size 10px; */
  background-size: cover;
}

.loginbox h1 {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  font-weight: 300;
  color: red;
}
.inp {
  height: 50px;
  /* max-width: 400px; */
  border: none;
  outline: none;
  border-radius: 60px;
  -webkit-box-shadow: 22px 21px 35px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 22px 21px 35px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 22px 21px 35px -9px rgba(0, 0, 0, 0.75);
  transition: 0.9s;
}
.inp:hover {
  box-shadow: 40px 41px 35px -9px rgba(0, 0, 0, 0.75);
  box-shadow: white;
  transform: scale(1.2);
  transition: 0.9s;
}
.btn1 {
  height: 50px;
  width: 25%;
  border: none;
  margin-bottom: 30px;
  border-radius: 60px;
  font-weight: 600;
  background-color: rgb(92, 187, 14);
  color: white;
  font-weight: bolder;
  -webkit-box-shadow: 22px 21px 35px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 22px 21px 35px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 22px 21px 35px -9px rgba(0, 0, 0, 0.75);
  transition: 0.7s;
}
.btn1:hover {
  background-color: #24b63a;
  transition: 0.7s;
  transform: scale(1.2);
}

/* .container1 {
 
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 650px;
  height: auto;
  margin: 0;
} */
.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.borderTop-30 {
  border-top-style: solid;
  border-top-width: 30px;
}

.cardstyle {
  border: rgba(5, 250, 127, 0.464);
  background-color: rgba(127, 255, 212, 0.312);
  box-shadow: 10px 5px 10px rgba(200, 198, 198, 0.451);
  padding-top: 40px;
  transition: 0.9s;
  padding-bottom: 30px;
}
.cardstyle:hover {
  background-color: rgba(127, 232, 255, 0.789);
  transition: 0.9s;
  transform: scale(1.05);
}
.cardtext1 {
  text-align: center;
  color: whitesmoke;
  text-decoration-line: underline;
  text-decoration-color: green;
  text-decoration-thickness: 2px;
  font-size: x-large;
  font-family: 'Lobster', cursive;
}
.cardtext2 {
  margin-top: 10px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: xx-large;
}
.cardtext3 {
  margin-top: 20px;
  text-align: justify;
  font-style: italic;
  font-size: medium;
}

.btn2 {
  height: 40px;
  width: 35%;
  border: none;
  outline: none;
  border-radius: 60px;
  font-weight: 600;
  background-color: rgba(0, 0, 255, 0.585);
  color: white;
  margin-left: 90px;
  margin-top: 0px;
  font-size: medium;
  position: absolute;
  transition: 0.9s;
}
.btn2:hover {
  background-color: #ff6464;
  transition: 0.9s;
  transform: scale(1.2);
}
.ul li:before {
  content: '\2713';
  display: inline-block;
  color: green;
  padding: 0 6px 0 0;
}

.ul li {
  list-style-type: none;
  font-size: 1em;
}
.stickyNav {
  position: sticky;
  top: 0;
}

.btn2_div {
  position: relative;
}

.bg-skyblue {
  background-color: #5ac8fa;
}

.sidebar {
  /* background-color: #5ac8fa; */
  background: rgba(0, 0, 0, 0.65);
  max-width: 360px;
}

.offcanvas {
  transition-duration: 0.1s;
}

.bg-reddish {
  background-color: #ff6464;
  width: 90px;
  /* height: 90px; */
}

.noBorder {
  border-style: hidden;
}

.toggleButtonStyle {
  margin: 10px 0px;
  width: 40px;
  color: white;
 text-decoration-color: white;
}

.logo {
  width: 80%;
}

.list-group-item {
  display: flex;
  color: white;
  background: rgba(0, 0, 0, 0);
  font-size: larger;
  align-items: center;
  font-weight: bold;
  border-style: hidden;
  transition: 0.2s;
}

.list-group-item:hover {
  color: #05b0ff;
  /* background-color: white; */
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transform: scale(1.1);
}

.offcanvas-body::-webkit-scrollbar {
  display: none;
}

.offcanvas-body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 95%;
}

.dropbtn {
  width: 95%;
  display: flex;
  color: white;
  background-color: #5ac8fa;
  font-size: larger;
  align-items: center;
  font-weight: bold;
  border-style: hidden;
  transition: 0.8s;
}

.dropbtn:hover {
  width: 95%;
  border-style: hidden;
  color: #5ac8fa;
  background-color: white;
  transition: 0.8s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transform: scale(1.1);
}

.horizontalRule {
  background-color: black;
  border: none;
  height: 2px;
  margin: 0px;
  margin-bottom: 5px;
}

.sidebarTitle {
  text-align: center;
  color: #ffffff;
  font-weight: bolder;
}

.logOut {
  float: right;
  bottom: 0;
  font-weight: bold;
}
.st_image {
  background-image: url('../public/images/st8.jpg');
  background-color: #cccccc;
  margin-top: 00px ;
  height: 700px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.ct_image {
  background-image: url('../public/images/st7.jpg');
  background-color: #cccccc;
  margin-top: 00px ;
  height: 700px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.ea_image {
  background-image: url('../public/images/st5.jpg');
  background-color: #cccccc;
  margin-top: 00px ;
  height: 700px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.admin_image {
  background-image: url('../public/images/admin.jpg');
  background-color: #cccccc;
  margin-top: 00px ;
  height: 700px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.notice {
  background-color: #b7d3fe;
  color: #112542;
  border-radius: 7px;
  margin: 15px 0;
  padding: 20px;
}
.st_title {
  font-weight: bold;
  font-size: 350%;
  text-align: center;
  font-style: italic;
  font-family: cursive;
}
table,
tr,
td,
th {
  text-align: center;
  width: 600px;
  height: 50px;

  border: 2px solid;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

::-webkit-scrollbar {
  display: none;
}
.bgimage {
  background-image: url('../public/images/BgImage.jpg');
  /* background-size: 1600px 800px; */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.trans {
  background: rgba(0, 0, 0, 0.3);
}
.translogin {
  background: rgba(245, 242, 242, 0.65);
}
.transmcq {
  background: rgba(245, 242, 242, 0.75);
}
.logo2 {
  width: 120px;
  height: 60px;
 }
 .errmsg {
   font-size: 12px;
   padding: 3px;
   color: red;
   display: none;
 }
 input:invalid ~ .errmsg{
display: block;
 }
 .bgstudent {
  background-image: url('../public/images/st8.jpg');
  /* background-size: 1600px 800px; */
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bgclient {
  background-image: url('../public/images/st7.jpg');
  /* background-size: 1600px 800px; */
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bgexamadmin {
  background-image: url('../public/images/st5.jpg');
  /* background-size: 1600px 800px; */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bgadmin {
  background-image: url('../public/images/admin.jpg');
  /* background-size: 1600px 800px; */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bgmcq {
  background-image: url('../public/images/mcq1.jpg');
  /* background-size: 1600px 800px; */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}